body{
background:#f3f3f3;
}

.main{
overflow:hidden;
margin:auto;
width:730px;
background:white;
}

.bottom{
text-align:center;
background:#f3f3f3;
padding:100px 0 20px;
}

.form-control{
margin:auto;
width:285px;
}

.form-group{
width:300px;
}

.btn_style{
width:300px;
}


