.icon{
float:left;
width:40px;
height:100%;
margin-right:10px;
margin-top:10px;
}

.img{
width:40px;
height:40px;
}

.home_li{
float:left;
list-style:none;
height:100%;
width:100%;
margin-left:-15px;
}

.mission_info{
color:gray;
float:right;
margin-right:40px;
margin-bottom:20px;
}

.mission_title{
width:610px;
height:100%;
float:right;
margin-right:40px;
}