

.icon{
float:left;
margin:30px;
width:70px;
}

.icon_img{
border:1px solid #f3f3f3;
width:70px;
height:70px;
}

.person_info{
float:left;
margin-top:30px;
margin-bottom:30px;
width:600px;
height:100%;
}

.clear{
border-top:200px;
clear:both;
}

.peron_required{

}

ul{
list-style:none;
}

.mission_ul li{
height:30px
}

.person_required{
margin:30px;
}

.person_mission{
margin:30px;
}


